<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://lib.baomitu.com/vue/2.6.10/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://lib.baomitu.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://lib.baomitu.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <style type="text/css">
        body {
            background-color: #f6f6f6;
            text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
        }

        del {
            color: #888;
        }

        #hitokoto {
            color: #69798b;
            float: right;
        }

        .header {
            color: #69798b;
            text-align: center;
            font-size: 3em;
        }

        .todo {}
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            Todo List
        </div>
        <hr>
        <div class="todo" id="todo">
            <ul class="list-group">
                <li class="list-group-item" v-for="todo in todos">
                    <del v-if="todo.complete">{{ todo.content }}</del>
                    <a v-else>{{ todo.content }}</a>
                </li>
            </ul>
        </div>
        <div class="footer">
            <div id="hitokoto"></div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#todo',
        data: {
            todos:
                []
        },
        mounted() {
            axios
                .get('getAll')
                .then((response) => (this.todos = response.data))
                .catch(function (error) {
                    console.log(error);
                })
        }
    });
    axios.get('https://v1.hitokoto.cn')
        .then((response) => $('#hitokoto').text(response.data.hitokoto))
        .catch(function (error) {
            console.log(error);
        })
</script>

</html>