<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Todo List</title>
    <script src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/vue/2.6.10/vue.js"></script>
    <script src="https://lib.baomitu.com/axios/0.19.0/axios.min.js"></script>
    <script src="https://lib.baomitu.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://lib.baomitu.com/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container" id="container">
        <div class="header">
            Todo List
        </div>
        <div class="hitokoto">{{ hitokoto.hitokoto }}</div>
        <hr>
        <div class="todo" id="todo">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <div class="input-group">
                        <input type="text" id="todo-content-input" class="form-control" placeholder="New todo..."
                            aria-label="New todo..." aria-describedby="basic-addon2" @keyup.enter="addTodo()">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-success btn-sm" v-on:click="addTodo()">
                                <i class="fas fa-check"></i>
                            </button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action" v-for="(todo, index) in todo.list">
                    <a v-if="todo.complete">
                        <del>{{ todo.content }}</del>
                    </a>
                    <a v-else>{{ todo.content }}</a>
                    <div class="todo-control">
                        <button id="complete" type="button" class="btn btn-success btn-sm" v-if="!todo.complete"
                            v-on:click="completeTodo(index)">
                            <i class="fas fa-check"></i>
                        </button>
                        <button id="edit" type="button" class="btn btn-primary btn-sm" v-if="!todo.complete"
                            v-on:click="openTodoEditModal(index)">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button id="delete" type="button" class="btn btn-danger btn-sm" v-on:click="removeTodo(index)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <nav v-if="todo.pages != 0">
            <ul class="pagination justify-content-center">
                <li class="page-item" v-if="todo.hasPreviousPage">
                    <a class="page-link" href="#" aria-label="Previous" v-on:click="switchPage(todo.prePage)">
                        <span aria-hidden="true">&laquo;</span>
                        <!--<span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>-->
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item disabled" v-else>
                    <a class="page-link" href="#" aria-label="Previous" v-on:click="switchPage(todo.prePage)">
                        <span aria-hidden="true">&laquo;</span>
                        <!--<span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>-->
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <template v-for="page in todo.navigatepageNums">
                    <li class="page-item active" v-if="todo.pageNum == page">
                        <a class="page-link" href="#">
                            {{ page }}
                            <span class="sr-only">
                                (current)
                            </span>
                        </a>
                    </li>
                    <li class="page-item" v-else>
                        <a class="page-link" href="#" v-on:click="switchPage(page)">
                            {{ page }}
                        </a>
                    </li>
                </template>
                <li class="page-item" v-if="todo.hasNextPage">
                    <a class="page-link" href="#" aria-label="Next" v-on:click="switchPage(todo.nextPage)">
                        <span aria-hidden="true">&raquo;</span>
                        <!--<span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>-->
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item disabled" v-else>
                    <a class="page-link" href="#" aria-label="Next" v-on:click="switchPage(todo.nextPage)">
                        <span aria-hidden="true">&raquo;</span>
                        <!--<span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>-->
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="footer">
            <div class="copyright">Made with <span style="color: #e25555;">&hearts;</span> by LGiki</div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input style="display: none" type="number" id="todo-index">
                        <input class="form-control" type="text" id="todo-content-edit" @keyup.enter="updateTodo()">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times"></i>
                        </button>
                        <button id="update-todo" type="button" class="btn btn-success" v-on:click="updateTodo()">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/main.js"></script>

</html>